:root {
  --primary-text-coor: #757575;
  --title-text-color: #212121;
  --acent-color: #2196f3;
  --background-first: #e5e5e5;
  --background-second: #f5f4fa;
  --primary-white-color: #fff;
  --primary-footer-color: #2f303a;
  --primary-social-color: #afb1b8;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.7;
  background-color: var(--background-first);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  margin: 0;
  text-decoration: none;
}
/* цвета для title и text */

.section-title {
  color: var(--title-text-color);
}

.section-text {
  color: var(--primary-text-coor);
}

.container {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* оформление header */

/* лого */
.page-header {
  background-color: var(--primary-white-color);
}
.logo {
  color: var(--acent-color);
}

.top-studio {
  color: var(--title-text-color);
}

.bottom-studio {
  color: var(--primary-white-color);
}

.logo,
.top-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

/* навигация header  */

.site-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--acent-color);
}

.site-nav .link.current {
  color: var(--acent-color);
}

/* контакты header */

.contact .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--primary-text-coor);
}

.contact .link:hover,
.contact .link:focus {
  color: var(--acent-color);
}

/* СТУДИЯ */

/*  HERO  */
.hero {
  text-align: center;
}

.hero .hero-title {
  margin-top: 0px;
  margin-bottom: 46px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.hero .hero-link {
  display: inline-block;
  padding: 10px 32px;
  margin-bottom: 200px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  text-decoration: none;
  border-radius: 4px;

  color: var(--primary-white-color);
  background-color: var(--acent-color);
}

/* секция детали */

.section-detail {
  background-color: var(--background-first);
}

.section-detail .icon {
  display: inline-block;
  padding: 25px 106px;
  margin-bottom: 30px;

  background-color: var(--background-second);
  border-radius: 4px;
}

.section-detail .icon:hover,
.section-detail .icon:focus {
  background-color: var(--acent-color);
  color: var(--primary-white-color);
}

.section-detail .section-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* секция чем мы занимаемся */

.section-work {
  background-color: var(--background-first);
}

.section-work .section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.section-work .link {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

/* секция наша команда */

.section-team {
  background-color: var(--background-second);
}

.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.section-team .section-title-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.section-team .section-text {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
/* соцсети */

.social {
  display: inline-block;
  color: var(--primary-social-color);
}

.social:hover,
.social:focus {
  background-color: var(--acent-color);
}

/* секция постоянные клиенты */

.section-customers .section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.section-customers .logotype {
  display: inline-block;
  border-radius: 4px;
  color: var(--primary-social-color);
}

.section-customers .logotype:hover,
.section-customers .logotype:focus {
  background-color: var(--acent-color);
}

/* -----  футер  ------ */

/*  футер  логотип */

footer {
  background-color: var(--primary-footer-color);
}

.page-footer .logo {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.page-footer .home {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.page-footer .link {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.page-footer .text {
  font-weight: 700;
  font-size: 14;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

/*     футер соцсети  */

.page-footer .social {
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
  color: var(--primary-white-color);
}

.page-footer .social:hover,
.page-footer .social:focus {
  background-color: var(--acent-color);
}

.page-footer .end {
  font-size: 12px;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.4);
}

/* футер  button  */

.button-primary {
  padding-top: 18px;
  padding-right: 58px;
  padding-bottom: 18px;
  padding-left: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  min-width: 270px;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  text-align: left;

  color: rgba(255, 255, 255, 0.6);
  background-color: var(--primary-footer-color);
}

.button-secondary {
  padding: 10px 45px;
  border-radius: 4px;
  font-weight: 900;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--acent-color);
}

/*   портфолио  фильтр */

.section-portfolio .filter {
  padding: 6px 22px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  background-color: var(--background-second);
  color: var(--title-text-color);
}

.section-portfolio .filter:hover,
.section-portfolio .filter:focus {
  background-color: var(--acent-color);
  color: var(--primary-white-color);
}

.section-portfolio .section-title {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.section-portfolio .section-text {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.section-portfolio .text {
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}
