:root {
  --primary-text-coor: #757575;
  --title-text-color: #212121;
  --acent-color: #2196f3;
  --background-first: #e5e5e5;
  --background-second: #f5f4fa;
  --primary-white-color: #fff;
  --primary-footer-color: #2f303a;
  --primary-social-color: #afb1b8;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.7;
  background-color: var(--background-first);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  margin: 0;
  text-decoration: none;
}
/* цвета для title и text */

.section-title {
  color: var(--title-text-color);
}

.section-text {
  color: var(--primary-text-coor);
}

.container {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* оформление header */

.header {
  display: flex;
  align-items: center;
}

/* лого */
.page-header {
  background-color: var(--primary-white-color);
}
.logo {
  color: var(--acent-color);
}

.top-studio {
  color: var(--title-text-color);
}

.bottom-studio {
  color: var(--primary-white-color);
}

.logo,
.top-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

/* навигация header  */

.site-nav {
  display: flex;
  margin-left: 86px;
  padding-left: 0;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--acent-color);
}

.site-nav .link.current {
  color: var(--acent-color);
}

/* контакты header */

.page-header .contact {
  display: flex;
  margin-left: auto;
  padding-left: 0;
}

.contact .item + .item {
  margin-left: 30px;
}

.contact .link {
  margin-left: 10px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--primary-text-coor);
}

.contact .link:hover,
.contact .link:focus {
  color: var(--acent-color);
}

/* СТУДИЯ */

/*  HERO  */
.hero {
  text-align: center;
}

.hero .hero-title {
  padding-top: 200px;
  margin-top: 0px;
  margin-bottom: 46px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.hero .hero-link {
  display: inline-block;
  padding: 10px 32px;
  margin-bottom: 200px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  text-decoration: none;
  border-radius: 4px;

  color: var(--primary-white-color);
  background-color: var(--acent-color);
}

/* секция детали */

.section-detail {
  background-color: var(--background-first);
}

.detail {
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
  padding-left: 0;
}

.detail .item + .item {
  margin-left: 30px;
  align-items: center;
  width: 278px;
}

.section-detail .icon {
  display: block;
  width: 278px;
  padding: 25px 106px;

  margin-bottom: 30px;

  background-color: var(--background-second);
  border-radius: 4px;
}

.section-detail .icon:hover,
.section-detail .icon:focus {
  background-color: var(--acent-color);
  color: var(--primary-white-color);
}

.section-detail .section-title {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* секция чем мы занимаемся */

.section-work {
  background-color: var(--background-first);
}

.section-work .section-title {
  padding-top: 94px;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.work {
  display: flex;
  padding-left: 0;
  padding-bottom: 94px;
}
.work .item + .item {
  margin-left: 30px;
}

.section-work .link {
  display: block;
  width: 380px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-white-color);
}

/* секция наша команда */

.section-team {
  background-color: var(--background-second);
}

.section-team .section-title {
  padding-top: 94px;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.team {
  display: flex;
  padding-left: 0;
  padding-bottom: 94px;
}

.team .item-name {
  align-items: center;
  width: 278px;
  height: 422px;
}

.item-name + .item-name {
  margin-left: 30px;
}

.section-team .section-title-name {
  margin-top: 30px;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.section-team .section-text {
  margin-bottom: 15px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
/* соцсети */

.nav-social {
  display: flex;
  justify-content: space-evenly;
}

.social {
  display: block;
  width: 44px;
  color: var(--primary-social-color);
}

.social:hover,
.social:focus {
  background-color: var(--acent-color);
}

/* секция постоянные клиенты */

.section-customers .section-title {
  margin-bottom: 50px;
  padding-top: 94px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.customers {
  display: flex;
  padding-left: 0;
  padding-bottom: 94px;
}

.customers .item + .item {
  margin-left: 30px;
}

.customers .logotype {
  display: block;
  width: 175px;
  border-radius: 4px;
  color: var(--primary-social-color);
}

.section-customers .logotype:hover,
.section-customers .logotype:focus {
  background-color: var(--acent-color);
}

/* -----  футер  ------ */

/*  футер  логотип */

footer {
  background-color: var(--primary-footer-color);
}

.foot {
  display: flex;
}

.foot .left {
  margin-right: 179px;
  padding-top: 48px;
}

.foot .center {
  padding-top: 56px;
  padding-bottom: 56px;
}

.foot .right {
  margin-left: auto;
  padding-top: 56px;
}

.page-footer .logo {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 22px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.page-footer .home {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.page-footer .link {
  margin-top: 9px;

  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.page-footer .text {
  display: block;
  margin-bottom: 21px;

  font-weight: 700;
  font-size: 14;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

/*     футер соцсети  */

.box .foot-seti {
  width: 207px;
}

.foot-seti {
  display: flex;
  padding-left: 0;
}

.foot-seti .element + .element {
  display: block;
  margin-left: 10px;
}

.foot-seti .item {
  display: block;
}

.foot-seti .social {
  display: block;

  background: rgba(255, 255, 255, 0.1);
  color: var(--primary-white-color);
}

.page-footer .social:hover,
.page-footer .social:focus {
  background-color: var(--acent-color);
}

.page-footer .end {
  padding-top: 18px;
  padding-bottom: 21px;
  font-size: 12px;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.4);
}

/* футер  button  */

.registr {
  display: flex;
  padding-left: 0;
}

.registr .element + .element {
  margin-left: 12px;
}

.button-primary {
  display: flex;
  padding-top: 18px;
  padding-right: 58px;
  padding-bottom: 18px;
  padding-left: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  min-width: 270px;
  height: 50px;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--primary-footer-color);
}

.button-secondary {
  display: block;
  padding-top: 10px;
  padding-right: 45px;
  padding-bottom: 10px;
  padding-left: 45px;
  height: 50px;

  font-weight: 900;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  border-radius: 4px;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--acent-color);
}

/*   портфолио  фильтр */

.filter-work {
  display: flex;
  justify-content: center;
  padding-top: 94px;
  padding-left: 0;
  margin-bottom: 50px;
}

.filter-work .item + .item {
  margin-left: 8px;
}

.section-portfolio .filter {
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  border-radius: 4px;
  background-color: var(--background-second);
  color: var(--title-text-color);
}

.section-portfolio .filter:hover,
.section-portfolio .filter:focus {
  background-color: var(--acent-color);
  color: var(--primary-white-color);
}

/* портфолио  карточки */

.cart {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  padding-bottom: 94px;
}

.cart .element {
  width: 380px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.cart .element:nth-child(3n) {
  margin-right: 0;
}

.cart .element:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.section-portfolio .section-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.section-portfolio .section-text {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.section-portfolio .text {
  display: none;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;

  color: var(--primary-white-color);
}
